<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="login-container">
    <h1>Login to <br> Your Account</h1>

    <form method="POST" action="/login">
      <label>Email:</label>
      <input type="email" name="email" required>

      <label>Password:</label>
      <input type="password" name="password" required>

      <button type="submit">Login</button>
    </form> 

    <br><p><a href="/register">Don't have an account? <br> Register here</a></p>
  </div>
</body>
</html>
